/* استایل کلی برای صفحه */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4);
  margin: 0;
  padding: 0;
}

/* استایل هدر */
header {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  padding-left: 20px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #adb5bd;
}

/* استایل اصلی */
main .content {
  padding: 40px;
  background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4);
  margin: 40px auto;
  width: 60%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

main .content h2 {
  margin-top: 0;
  color: #343a40;
  font-size: 28px;
  border-bottom: 2px solid #343a40;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  font-weight: bold;
  color: #343a40;
}

form input[type="text"],
form input[type="number"],
form input[type="file"],
form input[type="text"],
form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4);
}

form textarea {
  resize: vertical;
}

form input[type="file"] {
  display: none;
}
form .custom-file-upload {
  border: 1px solid #ced4da;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #0d62b6;
  color: #ffffff;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 81px;
  height: 21px;
}
form .custom-file-upload:hover {
  background-color: #495057;
}

form select {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4);
  margin-top: 5px;
  appearance: none; /* حذف پیکان پیش‌فرض */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%27http%3A//www.w3.org/2000/svg%27 viewBox%3D%270 0 4 5%27%3E%3Cpath fill%3D%27%23343740%27 d%3D%27M2 0L0 2h4zm0 5L0 3h4z%27/%3E%3C/svg%3E"); /* اضافه کردن پیکان سفارشی */
  background-repeat: no-repeat;
  background-position: right 10px center;
}
form select:focus {
  border-color: #343a40;
}
form input[type="file"] {
  display: none;
}
form .custom-file-upload {
  border: 1px solid #ced4da;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #237bd2;
  color: #ffffff;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
form .custom-file-upload:hover {
  background-color: #032a52;
}
form .file-name {
  margin-top: 10px;
  font-style: italic;
  color: #495057;
}

button {
  background-color: #237bd2;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #032a52;
}

/* استایل فوتر */
footer {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
