/* استایل‌های بخش کامنت‌ها */
.comments-section {
    margin-top: 40px;
    padding: 20px;
    background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4); /* رنگ‌های گرادیان */
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments-section h3 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #007a8b; /* رنگ متن عنوان */
}

.comment {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #336998;
    border-left: 5px solid #ff9e79; /* رنگ نوار سمت چپ */
    border-radius: 5px;
}

.comment p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #b0d1d5; /* رنگ متن کامنت */
}

.comment small {
    display: block;
    text-align: right;
    color: #aaa; /* رنگ تاریخ کامنت */
}

.comments-section form {
    margin-top: 20px;
}

.comments-section label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #007a8b; /* رنگ متن برچسب */
}

.comments-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    resize: vertical;
}

.comments-section .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #55f5e1; /* رنگ دکمه */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.comments-section .btn:hover {
    background-color: #007a8b; /* رنگ دکمه در حالت هاور */
}

/* استایل‌های بخش افزودن نظر */
.add-comment-form {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-comment-form h3 {
    margin-bottom: 15px;
    font-size: 22px;
    text-align: center;
    color: #007a8b; /* رنگ عنوان */
}

.add-comment-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #007a8b; /* رنگ متن برچسب */
}

.add-comment-form textarea {
    width: 100%;
    height: 148px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    resize: vertical;
}

.add-comment-form .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #19a492; /* رنگ دکمه */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.add-comment-form .btn:hover {
    background-color: #007a8b; /* رنگ دکمه در حالت هاور */
}
