body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4); /* رنگ‌های گرادیان */
    color: #333;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007a8b; /* رنگ دکمه */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #55f5e1; /* رنگ دکمه در حالت هاور */
}
