.product-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.product-details h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    color: #007a8b; /* رنگ عنوان */
}

.product-details p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #104147; /* رنگ متن */
}

.product-details .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2e6d65; /* رنگ دکمه */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.product-details .btn:hover {
    background-color: #007a8b; /* رنگ دکمه در حالت هاور */
}

.comments-section, .add-comment-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* استایل‌های بخش لیست علاقه‌مندی‌ها */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #55f5e1; /* رنگ دکمه */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #007a8b; /* رنگ دکمه در حالت هاور */
}
