body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4);    background-color: #d9dae4; /* رنگ پس‌زمینه */
    margin: 0;
    padding: 0;
    color: #444;
}

h1 {
    text-align: center;
    padding: 20px;
    background:linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4); /* رنگ سربرگ */
    color: #fff;
    margin: 0;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    background: linear-gradient(135deg, #55f5e1, #ff9e79, #007a8b, #d9dae4); /* رنگ جدید */
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #007a8b; /* رنگ عنوان */
}

.product p {
    font-size: 14px;
    color: #666;
}

.product .product-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.product label {
    margin-right: 10px;
    font-size: 14px;
    color: #444;
}

.product input[type="number"] {
    width: 60px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: #007a8b;
}

.product button {
    background-color: #19a492; /* رنگ دکمه */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #007a8b; /* رنگ دکمه در حالت هاور */
}

/* استایل‌های بخش جستجوی محصولات */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form label {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.search-form input[type="text"] {
    width: 300px;
    padding: 10px;
    background: right;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.search-form input[type="text"]:focus {
    border-color: #007a8b; /* رنگ نوار تمرکز */
    outline: none;
}

.search-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #19a492; /* رنگ دکمه جستجو */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.search-form button[type="submit"]:hover {
    background-color: #007a8b; /* رنگ دکمه جستجو در حالت هاور */
}
